* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D9AE79;
}

.game-wrapper {
    width: 40%;
    height: 60%;
    background-color: #BF8C60;
    border-radius: 10px;
    padding: 20px;
    min-height: 550px;
    min-width: 700px;
}

.info-box {
    display: flex;
    position: relative;
    border-radius: 10px;
    height: 25%;
    width: 98%;
    background-color: #8C5230;
    margin: 0 auto;
    padding: 15px;

}

img {
    height: 250px;
}

.batt-grounds {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 68%;
}

.stats {
    display: flex;
    flex: 1;
    justify-content: space-around;
    }

.player-stats {
    flex-direction: column;
    padding: 0 0 0 15px;
    border-right: 2px dashed black;
}
.enemy-stats {
    display: flex;
    padding: 0 0 0 15px;
}
.enemy-stats > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;

}

.enemy-box {
    text-align: center;
}

.stats p {
    color: #FFFF;
    font-family: 'Karla', sans-serif;
}

.char-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{ 
    margin: 10px;
}

.move-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.move-button:focus {
    outline: none;
  }

.move-button{
    width: 50px;
    height: 50px;
    margin: 5px;
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center;
    background-color: #D9AE79;

}

#punch-button{
    background-image: url(../Images/punch.png)
}

#slap-button{
    background-image: url(../Images/slap.png)
}

#spit-button{
    background-image: url(../Images/spit.png)
}

h1 {
    margin: 20px;
    color: #FFFF;
}


h5 {
    text-align: center;
    margin: 5px;
    font-size: 28px;
    color: gold;
}

#reward-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border: 4px dashed lightgreen;
    padding: 10px;
}

.reward-button {
    margin: 0 3px;
}

h6 {
    font-size: 14px;
    margin: 10px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .apply-shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }