.sideNavInner {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 0;
    background-color:rgb(192, 73, 73, 0.9);
    transition: 1s
    
}

.sideNavInner * {
    text-decoration: none;
margin: 15px 0;
padding: 10px;
color: white;
font-size: 20px;
font-family: 'Exo', sans-serif;
}



.sideNavOutter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 100;
    
}

.navBar{
    display: flex;
    flex-direction: column;
}