* {
    box-sizing: border-box;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 10fr 1fr;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"

}

header {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #0388A6;
}

#nav-menu {
    height: 100%; 
    width: 0px; 
    position: fixed; 
    z-index: 1; 
    top: 75px; 
    left: 0;
    grid-area: n;
    background-color: #024873;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
#content {
    grid-area: c;
    overflow: scroll;
    background-color: #F2F2F2;
}

footer {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    grid-area: f;
    height: 50px;
    background-color: #024873;
    color: white;
}

.nav-bar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}

#nav-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
}

h1 {
    color: #FFFF;
    font-size: 30px;
}
@media (min-width: 600px) {
    .wrapper {
        grid-template-areas: 
        "h h h h h h h h h h h h"
        "n n n n n n n n n n n n"
        "c c c c c c c c c c c c"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f"
    
    }

    #nav-menu {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-around;

    }

    .nav-bar {
        border: none;
        display: flex;
    }

    #nav-button {
        display: none;
    }

    h1 {

        font-size: 40px;
    }

    a { 
        font-size: 30px;
    }
}