.grid {
    display: grid;
    grid-template-columns: repeat(12, 25px);
    /* grid-template-rows: 10 */
    justify-content: center;
}

.square {
    height: 25px;
    border: 1px solid pink;
    margin: 0;
}

.controls {
    display: flex;
    margin: 5px;
}
.button {
    margin: 2px auto;
}
.wrapper {
    width: 25vw;
}
.mainDiv {
    display: flex;
    justify-content: center;
}