* {
    box-sizing: border-box;
    margin: -2px;
}

body {
    background-color: lightgray;
    padding-bottom: 50px;
}
 h2 {
     font-family: Georgia, 'Times New Roman', Times, serif;
     margin-top: 150px;
     margin-bottom: 10px;
     font-size: 40px;
     text-align: center;
 }


.flag {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 600px;
    height: 400px;
}

.W10 {
    width: 10%;
}

.W15 {
    width: 15%;
}

.W25 {
    width: 25%;
}
.W20 {
    width: 20%;
}

.W33 {
    width: 33.33%;

}
.W40 {
    width: 40%;

}
.W50 {
    width: 50%;

}

.W66 {
    width: 66.66%;
}

.W100 {
    width: 100%;
}

.H10 {
    height: 10%;
}

.H15 {
    height: 15%;
}

.H20 {
    height: 20%;
}

.H25 {
    height: 25%;
}

.H33 {
    height: 33.33%;
}

.H40 {
    height: 40%;
}

.H50 {
    height: 50%;
}

.H66 {
    height: 66.66%;
}

.H75 {
    height: 75%;
}

.H100 {
    height: 100%;
}
 .circle33 {
     padding-top: 33%;
     height: auto;
     border-radius: 50%;
 }
 .circle25 {
    padding-top: 25%;
    height: auto;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}
.white {
    background-color: white;

}

.blue {
    background-color: blue;

}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.gold {
    background-color: gold;
}

.green {
    background-color: green;
}

.displayIB {
    display: inline-block;
}

.centerX {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.centerY {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerBoth {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.T25 {
    top: 25%;
}

.T5 {
    top: -5%;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

#sweden {
    width: 80px;
    left: 33%;
}

.gambia {
    border-top: 20px solid white;
    border-bottom: 20px solid white;
}