* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to bottom, #AF060C, #8C060C);
    padding: 10px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);

}

footer {
    background-image: linear-gradient(to top, #AF060C, #8C060C);
    padding: 5px;
}

.app-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
}

.spacer {
    flex: 1;
}

.view {
    padding: 5px;
}